$navbar-default-bg: #5d88bb;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size:1.7em;
  color: #fff;
  text-transform:uppercase;
  letter-spacing:-1px;
  font-weight: bold;
}


#logo:hover{
   color:#fff;
   text-decoration:none;
}

#links{
  color:#fff;
}

#links:hover{
  background-color:#2c76bb;
}
.center{
  text-align:center;
}

.jumbotron{
  background-image: asset_url("new_cover_page.jpg");
  background-size: cover;
  height:550px;
}

.jumbotron h1{
  color:#fff;
  text-align:center;
  margin-bottom:30px;
  letter-spacing:-1px;
  font-weight:bold;
}

.article-meta-details{
  border-top: 1px solid #5d88bb;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #5d88bb;
  padding-top:5px;
}

.description {
  margin-top:0;
}

.article-title{
  font-weight:bold;
  font-size:1.5em;
}

.article-body{
  border-top: 1px solid #5d88bb;
  padding-top: 15px;
  padding-bottom:15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #5d88bb;
  text-transform:uppercase;
  //letter-spacing:-1px;
  font-weight:bold;
  text-decoration:none;
  color:white;
  text-align:center;
}

.badge a{
  color:white;
 
}

.badge a:hover{
  text-decoration:none
}


.input_checkbox input{
  width: auto !important;
  
}


footer{
  margin-top:5px;
  padding-top:5px;
  border-top: 1px solid #5d88bb;
}

footer small{
  float:left;
}

footer ul{
  float:right;
  list-style:none;
}

footer ul li{
  float:left;
  margin-left:15px;
}